<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hibernatedb</property>
        <property name="connection_pool_size">5</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>

       <mapping resource="resources/ContactInformation.hbm.xml" />
       
       <mapping resource="resources/UserProfile.hbm.xml" />
       <mapping resource="resources/Manager.hbm.xml" />
       <mapping resource="resources/Customer.hbm.xml" />
       <mapping resource="resources/Admin.hbm.xml" />
       <mapping resource="resources/Employee.hbm.xml" />
       
       <mapping resource="resources/ActionLog.hbm.xml" />
       
       <mapping resource="resources/Order.hbm.xml" />
       <mapping resource="resources/OrderStatus.hbm.xml" />
       
       <mapping resource="resources/ProductElementItem.hbm.xml" />
       <mapping resource="resources/ComponentItem.hbm.xml" />
       <mapping resource="resources/ProductItem.hbm.xml" />
       <mapping resource="resources/ItemStatus.hbm.xml" />
       
       <mapping resource="resources/Component.hbm.xml" />       
       <mapping resource="resources/SupplyPath.hbm.xml" />
       <mapping resource="resources/ProductionProcess.hbm.xml" />
       
    </session-factory>
</hibernate-configuration>
